@use 'colors';

.dropdown-menu {
  background-color: colors.$dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.35rem;
  width: 13rem;
  max-width: 56vw;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: auto;
  position: relative;

  .dropdown-spacer {
    height: 2rem;
    width: 1rem;
  }

  .dropdown-content {
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 205px;
    top: 40px;
    left: 0;
    z-index: 2;

    .dropdown-selection {
      color: white;
      background-color: colors.$medium-dark-grey;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'grover-sc', Roboto, sans-serif;
      font-size: 0.6875rem;

      &:hover {
        background-color: colors.$dark-grey;
      }
    }
  }

  .drop-down-text {
    font-family: 'grover-sc', Roboto, sans-serif;
    font-size: 0.75rem;
    line-height: 1.1;
    color: white;
  }

  .down-arrow {
    height: 0.9rem;
    width: auto;
    padding-top: 0.15rem;
  }
}
