.details-header {
  width: 90vw;
  max-width: 800px;
  display: block;
  margin: 1.5rem auto 2rem auto;
}

.dynamic-component-container {
  width: 90%;
  margin: auto;
}

mipools-front-end-scoring-info {
  width: 15rem;
  max-width: 96vw;
  max-height: 90vh;
  display: block;
  position: absolute;
  top: 6vh;
  left: 2vw;
}
