<div class="registration-form">
  <div class="text-container">
    <span> Unfortunately we have been unable to identify your details. </span>
    <span>
      Our support team has a reference of this issue and they will be in touch
      with you shortly so we can get you onboard as soon as poosible.
    </span>
    <span> Any issue please contact us <br>
      <a routerLink="/faq" target="_blank" class="mipools-link">
        Contact customer support
      </a>
    </span>

  </div>
  <div class="action-container">
    <a class="mipools-black-button" routerLink="/lobby">
      Browse all pools
    </a>
    <a class="faq-button" routerLink="/faq" target="_blank">?</a>
  </div>
</div>
