@use 'colors';

.green {
  color: colors.$mipools-green;
}

.green-link {
  color: colors.$mipools-green;
  text-decoration: underline;

  &:hover {
    color: colors.$mipools-green-hover;
  }
}

.code-input {
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.5rem;
  margin: 0rem auto 1.5rem auto;

  &.resend {
    margin: 0rem auto 0.5rem auto;
  }

  span {
    font-family: 'Robo-Reg', Roboto, sans-serif;
    font-size: 1rem;
  }
}