<div class="main-continer">
  <div class="text-container">
    <div class="header-container">
      <p class="header">PRIVACY POLICY</p>
    </div>
    <hr class="divider-line">
    <h3 class="text-subhead">i-POOLs’ Privacy and Personal Data Policy</h3>
    <p class="panel-text">
      This Privacy Policy forms part of i-pools’ Terms & Conditions and all
      definitions are the same as set out in that document.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Summary</h3>
    <p class="panel-text">
      At i-pools we are committed to preserving and safeguarding the privacy of
      our Users and the security of their Personal Data (personally identifiable
      information). Personal Data includes any information which can identify an
      individual such as your name or your address and any information which is
      stored alongside this identifying data. We seek to ensure that your
      Personal Data is never used for an inappropriate purpose and that it is
      safeguarded to every extent possible.
    </p>
    <p class="panel-text">
      The collection, storing and processing of Personal Data is regulated by
      the European General Data Protection Regulation (GDPR) which become
      effective on 25th May 2018 and our policies are fully compliant with this
      legislation.
    </p>
    <p class="panel-text">
      Our Privacy Policy explains what Personal Data we collect and why, what
      happens to any personal data that you provide to us, or that we collect
      from you whilst you visit the Website; the basis on which we collect,
      store and process your data; and your rights under GDPR.
    </p>
    <p class="panel-text">
      i-pools is registered with the
      <a href="https://ico.org.uk/" target="_blank"
        >Information Commissioner’s Office:</a
      >
      licence number: ZA024208.
    </p>
    <p class="panel-text">
      We update this Policy from time to time so please do review it regularly.
      This policy was last updated on 25 May 2018.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">The Data that we collect and store</h3>
    <p class="panel-text">
      In running and maintaining our Website we may collect and process the
      following data about you:
    </p>
    <p class="panel-text indent">
      &#x25A0; data provided voluntarily to Us by you. For example, when you
      register a User Profile or make a Payment on the Website.
    </p>
    <p class="panel-text indent">
      &#x25A0; data about your use of our Website including details of your
      visits such as pages viewed and the resources that you access. Such
      information includes traffic data, location data and other communication
      data.
    </p>
    <p class="panel-text indent">
      &#x25A0; data that you provide when you communicate with us by any means.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">
      Lawful basis for collecting, storing and processing Personal Data
    </h3>
    <p class="panel-text">
      The Personal Data that we ask you to provide (detailed below) is collected
      as processed by Us for the following purposes:
    </p>
    <p class="panel-text indent">
      &#x25A0; we are legally required to verify each User’s age and address
      before providing the Services; or
    </p>
    <p class="panel-text indent">
      &#x25A0; we have a “legitimate interest” in providing you with the
      Services; or
    </p>
    <p class="panel-text indent">
      &#x25A0; we would like to communicate with you to remind you of upcoming
      events or special offer.
    </p>
    <p class="panel-text">
      We use the services of a third party service provider to carry out the
      verification process and they may, in order to provide this service,
      transfer your Personal Data outside the European Economic Area (“EEA”)
      (see below). We also use the sevices of a third party payment agent to
      process financial transactions, but we do not store or process any
      financial data such as credit card numbers ourselves.
    </p>
    <p class="panel-text">
      We may also, if you provide Us with consent, process your Personal data
      for the purpose of communicating with you regarding our Services, such as
      reminders of upcoming events or special offers. You may, at any stage,
      withdraw your Consent to receive such communications.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Use of Your Personal Data</h3>
    <p class="panel-text">
      We use the Personal Data that we collect from you to provide our Services
      to you and to constantly improve our Services. In addition to this we may
      use data for one or more of the following purposes:
    </p>
    <p class="panel-text indent">&#x25A0; to verify User’s age and identity;</p>
    <p class="panel-text indent">&#x25A0; to process financial transactions;</p>
    <p class="panel-text indent">
      &#x25A0; to provide information to you relating to our Services;
    </p>
    <p class="panel-text indent">
      &#x25A0; to inform you of any changes to our Website and Services.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Disclosing Your Personal Data</h3>
    <p class="panel-text">
      We will NEVER disclose your Personal Data to any other party other than in
      accordance with our Terms & Conditions and this Privacy Policy or in the
      circumstances detailed below:
    </p>
    <p class="panel-text indent">
      &#x25A0; in the event that we sell any or all of our business, we may
      disclose data to a buyer under the terms of an appropriate Confidentiality
      Agreement.
    </p>
    <p class="panel-text indent">
      &#x25A0; where we are legally required by law to disclose your personal
      information to a regulatory body or legal authority.
    </p>
    <p class="panel-text indent">
      &#x25A0; in the course of an Investigation made according to our Terms &
      Conditions.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Storing Your Personal Data</h3>
    <p class="panel-text">
      We store all Personal Data in secure databases in encrypted form and we do
      our utmost to ensure that all reasonable steps are taken to make sure that
      your data is treated stored securely. Unfortunately the sending of
      information via the internet is not totally secure and on occasion such
      information can be intercepted. We cannot guarantee the absolute security
      of data that you send us electronically, so sending such information is
      done so entirely at your own risk.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Transferring Data Outside the EU</h3>
    <p class="panel-text">
      In operating our Website it may become necessary to transfer data that we
      collect from you to locations outside of the European Union or the EEA for
      processing. By providing your Personal Data to us, you implicitly agree to
      this transfer and/or processing all of which will continue to be done in
      accordance with our Privacy Policy.
    </p>
    <p class="panel-text">
      We will only transfer your Personal Data outside of the EU/EEA where:
    </p>
    <p class="panel-text indent">
      &#x25A0; you have given your explicit consent, or
    </p>
    <p class="panel-text indent">
      &#x25A0; it is necessary for us to set up or fulfil a contract you have
      entered into with us; or
    </p>
    <p class="panel-text indent">
      &#x25A0; to comply with a legal duty or obligation.
    </p>
    <p class="panel-text">
      If we do transfer your Personal Data outside of the EU/EEA, we will take
      measures to ensure it is protected to the same standards as it would be
      within the EU/EEA by relying on one of the following:
    </p>
    <p class="panel-text indent">
      &#x25A0; We will use contracts that require the recipient to protect your
      Personal Data to the same standards as it would be within the EU/EEA.
    </p>
    <p class="panel-text indent">
      &#x25A0; We will use contracts that require the recipient to protect your
      Personal Data to the same standards as it would be within the EU/EEA.
    </p>
    <p class="panel-text">
      In some instances we may be compelled by law to disclose your Personal
      Data to a third party and may have limited control over how it is
      protected by that party.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Use of Cookies</h3>
    <p class="panel-text">
      Cookies provide information about the computer used by a User to access
      the Website. We may use cookies where appropriate to provide the Services
      or to gather information about your computer in order to assist us in
      running and improving our Website. This information will not identify you
      personally as it is purely statistical data. As a result, cookies are not
      considered to be part of your Personal Data.
    </p>
    <p class="panel-text">
      Where used, these cookies are downloaded to your computer and temporarily
      stored on the computer’s hard drive.
    </p>
    <p class="panel-text">
      You can adjust the settings on your computer to decline any cookies if you
      prefer. This can easily be done by activating the ‘reject cookies’ setting
      on your computer. However , this may result in you not being able to
      access the Services.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Third Party Links</h3>
    <p class="panel-text">
      On occasion we include links to third parties’ websites on the Website.
      Where we provide a link it does not mean that we endorse or approve that
      site’s policy towards visitor privacy and security. You should review
      their privacy policy before sending them any personal data.
    </p>
    <hr class="divider-line">
    <h3 class="text-subhead">Access to Personal Data</h3>
    <p class="panel-text">
      In accordance with the Data Protection Act 1998 and GDPR, you have the
      right to access any Personal Data that we hold relating to you. Please
      note that we reserve the right to charge a fee of £10 to cover costs
      incurred by us in providing you with this information on request.
    </p>

    <div class="chat-container">
      <p class="chat-text">
        Need more help? Chat with us with our Live Chat between 8am and 8pm.
      </p>
      <div class="chat-button-container">
        <button class="mipools-black-button" (click)="openChat()">
          CHAT WITH US
        </button>
      </div>
    </div>
  </div>
</div>