@use 'colors';

.locked-container,
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lock-icon {
    height: 1.5rem;
    width: auto;
    margin: 0.4rem auto 0 auto;
  }

  .info-container {
    border-top: solid 0.1rem transparent;
    border-bottom: solid 0.1rem transparent;
    margin-top: 1rem;

    padding: 1rem;
    gap: 0.5rem;

    @include colors.gameTypeBorderColor();

    span {
      font-size: 0.875rem;
      text-align: center;
    }

    .title {
      font-size: 1rem;
    }
  }
}
