<div class="main-continer">
  <h1 class="header">RESPONSIBLE GAMING</h1>

  <div class="top-container">
    <div class="panel">
      <div class="top-section">
        <span class="panel-head">GAMBLING</span>
        <span class="panel-text">
          We care about our players and want to ensure that any time spent with
          us stays fun.<br /><br />
          Contact us to apply Self Exclusion
          <a href="mailto:helpdesk@mipools.co.uk">helpdesk&#64;mipools.co.uk</a>
          or contact GAMCARE for support.
        </span>
      </div>

      <button
      class="panel-button"
      onclick="window.open('https://www.gamcare.org.uk/', '_blank')"
      type="button"
    >
      GAMCARE
    </button>
    </div>

    <div class="panel">
      <div class="top-section">
        <span class="panel-head">SETTING LIMITS</span>
        <span class="panel-text">
          Contact us to set Deposit Limits
          <a href="mailto:helpdesk@mipools.co.uk">helpdesk&#64;mipools.co.uk</a>
          Our Helpdesk staff receives awareness training on problem gambling
          issues. Please ask them for help if you have any issues.
        </span>
      </div>
      <button
        class="panel-button"
        onclick="location.href='mailto:helpdesk@mipools.co.uk'"
        type="button"
      >
        CONTACT US
      </button>
    </div>

    <div class="panel">
      <div class="top-section">
        <span class="panel-head">CHAT</span>
        <span class="panel-text">
          Chat with our team live from<br />
          Monday to Friday<br />
          8am - 8pm<br /><br />
          We are always there for our players so please don’t hesitate to
          contact us if you need support.
        </span>
      </div>
      <button class="panel-button" (click)="showIntercom()" type="button">
        CHAT WITH US
      </button>
    </div>
  </div>

  <div class="bottom-container">
    <div class="text-container">
      <div class="text-panel">
        <h2 class="text-head">Under Age Gambling</h2>
        <span class="body-text">
          Gambling under the age of 18 is an offence in the UK. To play in our Pools, you must be 18 years of age or over.
        </span>
        <span class="body-text">
          By registering your User Account with us, you represent to us that you are at least 18 years old and acknowledge that we will use your Personal Data to verify that this is the case. This may include supplying the details that you have provided to authorised data verification agencies. We use a variety of tools to verify the age of new Users. If we are unable to verify a User’s age to our satisfaction, we will suspend that User’s Account immediately until such verification has been provided.
        </span>
        <span class="body-text">
          If we become aware that a minor has submitted or has attempted to register a User Account on the Website, we will immediately suspend this User Account and will take steps to remove that User’s Personal Data from our records.
        </span>
        <span class="body-text">
          Any player who provides dishonest information regarding their age automatically forfeits their right to any Prizes won. All monies staked will be returned and we may also provide any such User’s information to the UK Gambling Commission and other relevant authorities.
        </span>
      </div>
      <div class="text-panel">
        <h2 class="text-head">Filtering Systems</h2>
        <span class="body-text">
          We recommend that parents and guardians who use a family shared computer install filtering software in order to restrict internet access to children and minors.
        </span>
        <span class="body-text">
          There are a number of other third party applications that parents or guardians can use to monitor or restrict their computer's access to the Internet, for example:
        </span>
        <span class="body-text">
          - Net Nanny filtering software protects children from inappropriate web content: www.netnanny.com<br> 
          - CYBERsitter filtering software allows parents to add their own sites to block: www.cybersitter.com
        </span>
      </div>
  
      <div class="text-panel">
        <h2 class="text-head">Problem Gambling</h2>
        <span class="body-text">
          Whilst the majority of people do gamble responsibly, for some, gambling can become a problem. It may help you to keep control by remembering the following:
        </span>
        <span class="body-text">
          - Please try to establish limits for purchasing, wagering and losses before you commence gambling. We have established Deposit Limits which you can change by contacting the Helpdesk<br>
          - Gambling is not advised if it interferes with your daily responsibilities.<br>
          - Gambling is not advised if you are in recovery for any dependency or are under the influence of alcohol or any other substance.<br>
          - Gambling is not advised if your primary aim is to recoup losses.
        </span>
        <span class="body-text">
          Our Helpdesk staff receives awareness training on problem gambling issues. Please ask them for help if you have any issues.
        </span>
      </div>
    </div>
  </div>
</div>

