<div class="main-container">
  <img
    src="assets/svg-icons/face-sad.svg"
    alt="Sad face"
    class="filter-white face"
  />
  <p class="pool-closed-text">
    SORRY, YOU CAN NO LONGER JOIN THIS POOL
  </p>
  <p class="pool-closed-text bottom">
    BUT DON&rsquo;T WORRY WE HAVE LOADS MORE!
  </p>
  <img
    src="assets/svg-icons/face-happy.svg"
    alt="Happy face"
    class="filter-white face"
  />
  <div class="button-container">
    <button class="mipools-green-button" routerLink="/lobby">
      <span>Browse all pools</span>
    </button>
  </div>
</div>
