<section class="main-container">
  <div class="header-container">
    <span class="header-text">4</span>
    <img
    src="https://media.miomni.com/uploads/football_icon.png"
    alt="football"
    class="header-image filter-white"
    />
    <span class="header-text">4</span>
  </div>
  <span class="message-one">PAGE NOT FOUND</span>
  <span class="message-two">
    The page you were looking for cannot be found
  </span>
  <a routerLink="/">
    <button class="home-button">Take me to the Home page</button>
  </a>
</section>
