<div class="main-container">

  <div class="top-container">
    <div class="top-panel">
      <a routerLink="/calendar" class="top-panel-one">
        <img
          src="https://media.miomni.com/uploads/URL-Image-Calendar.png"
          alt="Big Events"
          class="top-image"
        />
        <span class="top-title">Big Events</span>
        <span class="top-text"
          >Browse our event based games via the big event calendar and see what
          will be coming soon...
        </span>
      </a>
      <div class="top-panel-two">
        <a routerLink="/lobby" class="top-link">Who are MiPools?</a>
        <a routerLink="/pool-rules" class="top-link">Game Types</a>
      </div>
    </div>
    <div class="top-panel">
      <a routerLink="/top-pools" class="top-panel-one">
        <img
          src="https://media.miomni.com/uploads/URL-Image-CardIcon.png"
          alt="Top Picks"
          class="top-image"
        />
        <span class="top-title">Top Picks</span>
        <span class="top-text"
          >Browse our Top Picks; a mixture of Sports & Entertainment.
        </span>
      </a>
      <div class="top-panel-two">
        <a routerLink="/pool-rules" class="top-link">Rules of Play</a>
        <a routerLink="/faq" class="top-link">FAQ</a>
      </div>
    </div>
    <div class="top-panel">
      <a routerLink="/lobby" class="top-panel-one">
        <img
          src="https://media.miomni.com/uploads/URL-Image-ClockIcon.png"
          alt="big events"
          class="top-image"
        />
        <span class="top-title">Join before they close!</span>
        <span class="top-text"
          >All games in order of Ending Today through to what's on the rest of
          the week.</span
        >
      </a>
    </div>
  </div>

  <div class="social-container">
    <a href="https://www.facebook.com/MipoolsUK" target="_blank">
      <img
        class="social-icon"
        src="https://media.miomni.com/uploads/facebook.png"
        alt="Facebook"
      />
    </a>
    <a href="https://twitter.com/MipoolsUK" target="_blank">
      <img
        class="social-icon"
        src="https://media.miomni.com/x-twitter-logo-white.png"
        alt="Twitter X"
      />
    </a>
    <a href="https://www.instagram.com/mipools/" target="_blank">
      <img
        class="social-icon"
        src="https://media.miomni.com/uploads/Instagram-Logo-White.png"
        alt="Instagram"
      />
    </a>

  </div>

  <div class="page-links-container">
    <a href="mailto:helpdesk@mipools.co.uk" class="page-link">Contact Us</a>
    <a routerLink="/responsible-gaming" class="page-link">Responsible Gaming</a>
    <a routerLink="/terms" class="page-link">Terms & Conditions</a>
    <a routerLink="/privacy-policy" class="page-link">Privacy Policy</a>
    <button (click)="openCookies()" class="page-link">Cookies</button>
  </div>

  <div class="text-container">
    <span class="footer-text"
      >I-Pools (Host) Limited Is Licensed And Regulated In Great Britain By The
      Gambling Commission Under Account Number 36291.</span
    >
    <span class="footer-text"
      >UK Licence Number: 000-036291-r-317480-009. Company Registered Address:
      Verdemar House 230 Park View, Whitley Bay, United Kingdom, Tyne And Wear,
      NE26 3QR</span
    >
    <span class="footer-text"
      >Join The Fun But Please Play Responsibly www.begambleaware.org</span
    >
    <span class="footer-text"
      >Please Bet Responsibly. Under 18s Are Strictly Forbidden From Gambling On
      This Website. Underage Gambling Is An Offence.</span
    >
  </div>

  <div class="logos-container">
    <div class="logos-panel">
      <a href="https://www.gamstop.co.uk" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/gamstop-BW.png"
          alt="www.gamstop.co.uk"
        />
      </a>
      <a href="https://www.gamblingcommission.gov.uk" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/gamblingComm-BW.png"
          alt="www.gamblingcommission.gov.uk"
        />
      </a>
      <a href="https://www.ibas-uk.com" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/ibas-BW.png"
          alt="www.ibas-uk.com"
        />
      </a>
      <a href="https://www.begambleaware.org" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/begambleawre-BW.png"
          alt="www.begambleaware.org"
        />
      </a>
    </div>
    <div class="logos-panel">
      <a href="https://www.axcessps.com" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/axcess-BW.png"
          alt="www.axcessps.com"
        />
      </a>
      <a href="https://www.mastercard.co.uk/en-gb.html" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/maestro-BW.png"
          alt="www.mastercard.co.uk"
        />
      </a>
      <a href="https://www.visa.co.uk" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/visa-BW.png"
          alt="www.visa.co.uk"
        />
      </a>
      <a href="https://sportradar.com/" target="_blank">
        <img
          class="gamble-logo"
          src="https://media.miomni.com/uploads/sportsrdar-bw.png"
          alt="www.sportradar.com"
        />
      </a>
    </div>
  </div>

  <div class="bottom-container">
    <div class="bottom-info-container">
      <span class="info">{{ date }}</span>
      <span class="info">{{ time }}</span>
      <span class="info green">Version {{ version }}</span>
    </div>
    <span class="copyright"
      >Copyright &copy; {{ year }}. All rights reserved.</span
    >
    <img src="assets/svg-icons/eighteen-plus-black.svg" alt="18+" class="filter-white eighteen" />
  </div>
</div>
